<!--Used policy generator listed and modified slightly on last updated date-->
<section class="flex justify-center items-center mt-20 bg-white min-h-[calc(100vh-88px)]">
  <div class="max-w-4xl">
    <h1>Creating an account</h1>
    <p>
      TruckerJobs4u is a Class A recruiting service that works for the driver. Creating an account is free and will allow the driver to manage their driving history and career. There are many tools and services, both current and planned, that will benefit our members.
    </p>
    <p>
      The biggest advantage to being a member is the access to the professional advisors who work tirelessly to find you the best job prospects for your situation. We work with over 25 carriers to get you the driving career you have worked so hard to get. We will not stop until you are satisfied.
    </p>
    <p>
      A close second is the ability to keep track of and update your driving experience. Getting all that information together takes time and can be a hasel, but needs to be done when you are hunting a job. With TruckerJobs4u there is no rush. Build your history on your time. We can use that history to help you search for the perfect job. Use that information anytime you need, anywhere you need.
    </p>
    <p>
      Creating an account puts you in charge and helps ease our work of hunting on your behalf. We realize that this information is important and we have done everything possible to keep it safe and secure. The site itself is SSL encrypted. Security protocols for both the site and the database are updated regularly. The system is built with the newest technology. We take securing your information seriously.
    </p>
  </div>
</section>