<section class="bg-white dark:bg-gray-900 mt-20">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
    <div class="bg-gray-800 border border-gray-700 rounded-lg p-8 md:p-12 mb-8">
      <h1 class="text-white text-3xl md:text-5xl font-extrabold mb-2">Welcome <%= current_user.first_name %> <span class="hidden md:inline">to the Dashboard</span></h1>
      <p class="text-lg font-normal text-gray-400 mb-6">This dashboard is for manageing social media for the TruckerJobs4u site. You can manage blog articles and newsletters form here as well as social media content within the site.</p>
    </div>
    <div class="grid md:grid-cols-2 gap-8">
      <div class="bg-gray-800 border border-gray-700 rounded-lg p-8 md:p-12">
        <a href="#" class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md bg-gray-700 text-green-400 mb-2">
          <svg class="w-3 h-3 me-1.5"" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
          </svg>
          Blog
        </a>
        <h2 class="text-white text-3xl font-extrabold mb-2">TruckerJobs4u Blog</h2>
        <p class="text-lg font-normal text-gray-400 mb-4">Create, update, and delete the blog for the site from this panel. Stages for blogs - Draft | Scheduled | Published</p>
        <div class="flex justify-center items-center">
          <a href="#" class="py-2 px-4 mt-4 rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-800 text-green-400 border-gray-600 hover:text-white hover:bg-green-700 inline-flex text-lg items-center">Create
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="bg-gray-800 border border-gray-700 rounded-lg p-8 md:p-12">
        <a href="#" class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md bg-gray-700 text-purple-400 mb-2">
          <svg class="w-3 h-3 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z"/>
            <path d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z"/>
          </svg>
          Newsletter
        </a>
        <h2 class="text-white text-3xl font-extrabold mb-2">Truckerjobs4u Newsletter</h2>
        <p class="text-lg font-normal text-gray-400 mb-4">Create, update, and delete the newsletter for the site from this panel. Stages for newsletters - Draft | Scheduled | Published</p>
        <div class="flex justify-center items-center">
          <a href="#" class="py-2 px-4 rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-800 text-purple-400 border-gray-600 hover:text-white hover:bg-purple-700 inline-flex text-lg items-center">Disabled
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--New Blog-->
<section class="w-full flex justify-center items-center text-terminal-window mt-2">
  <div class="lg:w-4/5 flex justify-center items-center lg:bg-slate-600">
    <div class="flex flex-col justify-start items-start pb-5">
      <h1 class="my-2 text-xl bg-sky-50 p-2 rounded-sm">Create New Blog</h1>
      <%= render "blog_form", blog: @blog %>
    </div>
  </div>
</section>
